<table>

  <thead>
    <tr>
      <td><h1 style="color:#aaf0d1; font-size:25px; text-align: center;"><%= @appname %></h1></td>
    </tr>
    <tr>
      <td>
        <p>You have a new subscription to Bake is Yum from: </p>
        <p><%= @subscription.email %></p></td>
      </tr>
  </thead>

</table>
