<% content_for :title, "Favorite Recipes - Bake is Yum" %>
<div class="container favorites-index">
  <h1>Your Favorite Recipes</h1>
  <% if @recipes.empty? %>
    <p class="text-center">You do not have any favorite recipes...</p>
  <% else %>
    <%= render @recipes %>
  <% end %>
</div>
