<% @parts.each do |part| %>
  <h4><%= part.name %></h4>
  <ul>
    <% part.instructions.each do |instruction| %>
      <li><p>
        <%= instruction.instruction %>
      </p></li>
    <% end %>
  </ul>
<% end %>
