<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<div class="container">
  <div class="row">
    <%= render @recipes %>
  </div> <!-- end row -->
</div> <!-- end container -->

<br>

<%= link_to 'New Recipe', new_recipe_path %>
