<div class="container">
  <h1>New Recipe</h1>

  <%= render 'form', recipe: @recipe %>

  <%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> Go Back to all Recipes'.html_safe, recipes_path, class: 'btn btn-default' %>
</div><!-- end container -->
