<h1>Γειά σας! Είμαι η Ελίνα!</h1>
<%= image_tag( "Elina_Charalampous.jpg", alt: "Elina Charalampous" , class: "img-responsive", lazy: false ) %>
<p>… και μου αρέσει να φτιάχνω γλυκά! Χωρίς δεύτερη σκέψη προτιμώ τα γλυκά
  αντί του φαγητού και μέσα από τη ζαχαροπλαστική μπορώ να φτιάχνω ανά πάσα
  στιγμή όποιο γλύκισμα λιγουρευτώ! Υπάρχει βέβαια και η επιλογή των αγοραστών
  γλυκών, αλλά με τα σπιτικά γλυκά έχω την επιλογή να χρησιμοποιώ φρέσκα υλικά
  και καλής ποιότητας καθώς και να πειράζω τις συνταγές ώστε να γίνουν πιο υγιεινές
  και με λιγότερες θερμίδες. Για παράδειγμα, σχεδόν σε όλες τις συνταγές μειώνω
  τη ζάχαρη και όπου είναι δυνατόν την αντικαθιστώ με μέλι. Εκτός από τα παραπάνω,
  το να φτιάχνω γλυκά με χαλαρώνει … και χαροποιεί ιδιαίτερα την οικογένεια μου
  και τους φίλους μας! Γιατί ποιος δεν θα ήθελε να έχει στο σπίτι συνέχεια υγιεινά
  πεντανόστιμα γλυκά και σνακ?
  <br><br>
  Το Bake is Yum είναι το αποτέλεσμα από το πάντρεμα του επαγγέλματός μου ως
  κατασκευάστρια και σχεδιάστρια ιστοσελίδων και του αγαπημένου μου χόμπυ τη
  ζαχαροπλαστική! Στην αρχή ήθελα απλώς να ψηφιοποιήσω το βιβλίο συνταγών μου
  και να έχω πρόσβαση σε αυτό ανά πάσα στιγμή! Το ένα έφερε το άλλο και τελικά
  δημιουργήθηκε το Bake is Yum.
  <br><br>
  Οι συνταγές στο Bake is Yum είναι οι αγαπημένες μου συνταγές και είναι αυτές
  που χρησιμοποιώ στο σπίτι όταν φτιάχνω γλυκά. Όπως νομίζω οι περισσότεροι
  κάνουν, έτσι και εγώ ξεκινώ από μία δανεική συνταγή και την αλλάζω έτσι ώστε
  να ταιριάζει στις γεύσεις μου. Προσωπικά δεν μου αρέσουν οι πολύ γλυκές γεύσεις
  και μου αρέσουν πικρές και ξινές νότες στα γλυκίσματα. Έτσι πάντα καταλήγω να
  μειώνω τη ζάχαρη από τις πρωτότυπες συνταγές. Ωστόσο, σε κάθε συνταγή που
  ανεβάζω υπάρχει πάντα ο σύνδεσμος με την πρωτότυπη συνταγή, εκτός και αν
  βέβαια η συνταγή είναι δικό μου δημιούργημα (στην αλήθεια συνδυασμός πολλών
  και διάφορων συνταγών).
  <br><br>
  Ένα ακόμα χόμπυ μου, πολύ ερασιτεχνικό βέβαια, είναι η φωτογραφία. Έτσι λοιπόν
  οι περισσότερες φωτογραφίες στις συνταγές είναι τραβηγμένες από εμένα, κατά
  τη διάρκεια παρασκευής τους. Σε κάποιες αρχικές συνταγές οι φωτογραφίες είναι
  από το <%= link_to 'Unsplash', 'https://unsplash.com/', target: :_blank %>,
  ένα υπέροχο site με δωρεάν για χρήση φωτογραφίες. Ένα ακόμα πιο ερασιτεχνικό
  και αρκετά αρχάριο χόμπυ μου εναι το βίντεο, έτσι λοιπόν όλα τα βίντεο που θα
  βρείτε σε κάποιες συνταγές είναι τραβηγμένα και επεξεργασμένα από εμένα.
  <br><br>
  Θα ήθελα να ευχαριστήσω όλους τους ζαχαροπλάστες (επαγγελματίες και bloggers)
  από τους οποίος έχω δανειστεί τις συνταγές τους καθώς και το Unsplash μαζί με
  τους φωτογράφους του, φωτογραφίες των οποίων έχω χρησιμοποιήσει σε αυτό το blog.
  <br><br>
  Ελπίζω να απολαύσετε τις συνταγές του Bake is Yum και ανυπομονώ για τα σχόλια
  σας, τα like σας και τα share σας!
</p>
