<h1>Hi! I am Elina!</h1>
<%= image_tag( "Elina_Charalampous.jpg", alt: "Elina Charalampous" , class: "img-responsive", lazy: false ) %>
<p> ... and I love to bake! There is no
  question, I am a person who prefers sweet snacks rather than salty ones and
  baking gives me the solution to have sweet treats at home whenever I want.
  Moreover, baking at home offers me the option to select the quality of the
  ingredients I use in my desserts and I can modify each recipe to a healthier
  version with less calories. For example, I always tend to reduce sugar in the
  recipes and I opt for honey instead of sugar. And of course ... baking relaxes me
  and makes my family happy! Who does not like to have healthy delicious desserts
  at home?
  <br><br>
  Bake is Yum is the result of the combination
  of my proffession as web designer and developer and my favourite hobby, the
  baking! At the beggining, I haven't thought of developing my personal baking
  blog, but I just wanted to transfer all my recipes from my cookbook to a digital
  version. The one thing let to another and Bake is Yum was developed!
  <br><br>
  The recipes in Bake is Yum are from my favorite sweets and they are the ones I use while baking.
  Most of them are borrowed, but I always end up modifying a recipe to meet my taste.
  Personally I am not keen of very sweet flavors and I usually crave bitter and sour deserts.
  Therefore I tend to reduce the sugar used in the borrowed recipes. However you will
  always find the reference for the original recipes.
  <br><br>
  Almost every photo used in this blog are taken from me while baking, but
  they are still few recipes with photos taken from <%= link_to 'Unsplash', 'https://unsplash.com/', target: :_blank %>,
  a great site for freely-usable images. All the videos in the blog are taken
  and edited by me... and I have to admin that I am a very begginer in this field,
  but until now I really enjoy it!
  <br><br>
  I would like to thank all the bakers (proffessionals and bloggers) from who I have borrowed their recipe and
  Unsplash along with all the photographers, who's photos I use in this blog.
  <br><br>
  I hope that you will enjoy the recipes in Bake is Yum and I am looking forward
  for likes, shares and your comments!
</p>
