<% content_for :title, "About - Bake is Yum" %>
<%= content_for :structured_data do %>
  <script type='application/ld+json'>
    {
    "@context":"https://schema.org",
    "@graph":[
      {"@type":"WebSite",
      "@id":"https://bakeisyum.com/#website",
      "url":"https://bakeisyum.com/",
      "name":"Bake is Yum",
      "description":"Baking Blog and dessert recipes to follow, share and enjoy.",
      "publisher":{
        "@id":"https://bakeisyum.com/#organization"},
        "potentialAction":[{
          "@type":"SearchAction",
          "target":"https://bakeisyum.com/recipes?utf8=%E2%9C%93&q={search_term_string}=&button=",
          "query-input":"required name=search_term_string"}],
        "inLanguage":"en-US"},
      {
      "@type":"AboutPage",
      "@id":"https://bakeisyum.com/about/#webpage",
      "url":"https://bakeisyum.com/about/",
      "name":"About - Bake is Yum",
      "isPartOf":{"@id":"https://bakeisyum.com/#website"},
      "description":"Hi! I am Elina the creator of Bake is Yum! I love to bake and share my favorite recipes with you!",
      "inLanguage":"en-US",
      "potentialAction":[{
        "@type":"ReadAction",
        "target":["https://bakeisyum.com/about/"]}]}
    ]}
  </script>
<% end %>
<div class="container-fluid w-85 about">
  <h1>Hi! I am Elina!</h1>
  <%= image_tag( "Elina_Charalampous.jpg", alt: "Elina Charalampous" , class: "img-responsive", lazy: false ) %>
  <p> ... and I love to bake! There is no
    question, I am a person that prefers sweet snacks rather than salty ones and
    baking gives me the solution to have sweet treats at home whenever I want.
    Moreover, baking at home offers me the option to select the quality of the
    ingredients I use in my desserts and I can modify each recipe to a healthier
    version with less calories. For example, I always tend to reduce sugar in the
    recipes and I opt for honey instead of sugar. And of course ... baking relaxes me
    and makes my family happy! Who does not like to have healthy delicious desserts
    at home?
    <br><br>
    The recipes here are from my favorite sweets and they are the ones I use when baking.
    Most of them are borrowed, but I always end up modifying a recipe to meet my taste.
    Personally I am not keen of very sweet flavors and I usually crave bitter and sour deserts.
    Therefore I tend to reduce the sugar used in the borrowed recipes. However you will
    always find the reference for the original recipes.
    <br><br>
    Most of the photos used in this blog are not taken from me while baking, but
    they are taken from <%= link_to 'Unsplash', 'https://unsplash.com/', target: :_blank %>,
    a great site for freely-usable images. There are few recipes in this blog,
    where the photos are taken from me while baking and I plan to photo shoot
    all the recipes I share with you.

    <br><br>
    I would like to thank all the bakers from who I have borrowed their recipe and
    Unsplash along with all the photographers, who's photos I use in this blog.
    <br><br>
    I hope that you will enjoy the recipes in Bake is Yum and I am looking forward
    for shares and your comments!
  </p>
</div>
