<% content_for :title, "About - Bake is Yum" %>
<div class="container about">
  <h1>About</h1>
  <p class="w-85 m-auto"> Hi! I am Elina. I am a web developer and I love to bake.
    This is my first blog I created as web developer and it could not be any
    different but a baking blog! I hope that in future it comes really to life!
    <br><br>
    The recipes here are from my favorite sweets and they are the ones I use when baking.
    Most of them are borrowed but I always end up modifying a recipe to meet my taste.
    Personally I am not keen of very sweet flavors and I usually crave bitter and sour deserts.
    Therefore I tend to reduce the sugar used in the borrwed recipes. However you will
    always find the reference for the original recipes.
    <br><br>
    Most of the photos used in this demo blog are not taken from me while baking, but
    they are taken from <%= link_to 'Unsplash', 'https://unsplash.com/', target: :_blank %>,
    a great site for freely-usable images. There are few recipes in this blog,
    where the photos are taken from me while baking and I plan to photo shoot
    all the recipes I share with you.

    <br><br>
    I would like to thank all the bakers from who I have borrowed their recipe and
    Unsplash along with all the photographers, who's photos I use in this blog.
    <br><br>
    I hope that you will enjoy the recipes in Bake is Yum and I am looking forward
    for shares and comments!
  </p>
</div>
