$darkGrey: #33483e;
$mint: #aaf0d1;
$darkMint: #67cabc;
$darkGreyMint: #86cead;
$darkGreyMintHover: #5d9079;
$lightMint: #eefcf5;
$lightMintHover: #c3f4de;
$offWhite: #fefefc;
$grey: #ccc;
$red: red;
$redHover: #990000;
$orange: #f0d1aa;
$orangeHover: #e8ba7f;
$orangeHover: #e5ae69;


$mintTouchScreens: #94ecc5;
$darkGreyMintTouchScreens: #86cead;
