$darkGrey: #33483e;
$mint: #aaf0d1;
$darkMint: #67cabc;
$darkGreyMint: #86cead;
$lightMint: #eefcf5;
$lightMintHover: #c3f4de;
$offWhite: #fefefc;
$grey: #ccc;
$red: red;
$redHover: #990000;
$orange: #f0d1aa;
$orangeHover: #e8ba7f;
$orangeHover: #e5ae69;

// $mintTouchScreens: #86cead;
// $mintTouchScreens: #7fe8ba;
$mintTouchScreens: #72d0a7;
$darkGreyMintTouchScreens: #6ba48a;
