.authentication {
  background-color: var(--mint);
  margin-top: 20px;
  width: 60%;
  padding-bottom: 20px;
}

.authentication h2 {
  padding-bottom: 15px;
}

.authentication h4 {
  margin-top: 40px;
}

.authentication .btn {
  background-color: var(--off-white);
}

.authentication .btn:hover {
  background-color: #e5e5e5;
}
