@import 'colors';

.authentication {
  background-color: $mint;
  margin-top: 20px;
  width: 60%;
  padding-bottom: 20px;


  h2 {
    padding-bottom: 15px;
  }

  h4 {
    margin-top: 40px;
  }

  .btn {
    background-color: $offWhite;
  }

 .btn:hover {
   background-color: #e5e5e5;
  }

  .field_with_errors {
    color: red;
    display: inline-block;

    input {
      outline: 1px solid red;
    }
  }

  .error-message {
    color: red;
  }
}

// Touch screens
@media (hover: none) and (pointer: coarse) {
  .authentication {
    background-color: $mintTouchScreens;
  }
}
