// Place all the styles related to the basic_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colors';
@import 'vendor_prefixes';

//Index Page
#carousel-index {
  padding-top: 20px;
}

.carousel-inner{
  max-height: 500px !important;
}

.carousel-caption {
  font-size: 3em;
  text-shadow: 0 1px 8px rgba(0,0,0,.6);
  padding-bottom: 0;
  bottom: initial;
  height: 100%;
  max-height: 500px !important;
  top: 0;

  a {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
  }
}

.carousel-caption a::after,
.carousel-caption a::before {
  content: '';
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}

.carousel-caption a::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: white;
  border-right-color: white;
}

.carousel-caption a::before{
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: white;
  border-left-color: white;
}

.carousel-caption a:hover:after,
.carousel-caption a:hover:before {
  width: 100%;
  height: 100%;
}

.carousel-caption a:hover {
  background-color: rgba(147, 147, 147, 0.2);
  @include box-shadow(2px 2px 4px 1px #4C4C4C);
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;

  .glyphicon {
    opacity: 0;
    @include transition(opacity 1s);
  }
}

.carousel-control.left .glyphicon {
  left: 30%;
}

.carousel-control.right .glyphicon {
  right: 30%;
}

.carousel-control.left:hover,
.carousel-control.right:hover {
  .glyphicon {
    opacity: 1;
  }
}

.recipe-lading-card {
  text-align: center;
  margin-top: 20px;
}

.btn-get-more-recipes {
  height: 47px;
  padding-top: 12px;
  margin-bottom: 20px;
}

.recipe-landing-img {
  overflow: hidden;

  img {
    @include transition(all 0.5s);
  }
}

.recipe-landing-img img:hover {
  opacity: 0.85;
  @include transform(scale(1.1));
}

.recipe-landing-description a {
  color: $mint;
}

.recipe-landing-description a:hover {
  color: $darkGreyMint;
}

.subscribe-box {
  border-style: solid;
  border-width: 1px;
  border-color: $mint;
  background-color: $offWhite;
  margin-top: 110px;
  padding: 10px 10px 10px 10px;


  #subscription_email.error {
    border-color: #a94442;
  }

  .email-error {
    display: none;
    color: #a94442;
  }

  .privacy_policy {
    padding: 5px;
    padding-bottom: 0;
    margin-bottom: 10px;
  }

  .privacy_policy.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }

  .btn {
    height: 47px;
    width: 100px;
  }
}

// About Page
.about {
  p {
    font-size: 17px;

    a {
      color: $darkGreyMint;
    }

    a:hover {
      color: $mint;
    }
  }
}

// Contact Page
// .address h2 {
//   font-size: 20px;
// }
//
// address i {
//   font-size: 20px !important;
//   color: $mint;
//   padding-right: 10px;
// }

.contact-form {
  text-align: center;
  margin-top: 30px;
}

.contact .btn {
  width: 68px;
  height: 48px;
}

.form-group {
  width: 85%;
  margin: auto;
  margin-bottom: 20px;
}

.btn-submit {
  text-align: center;
}

// Privacy Policy
// Terms and Conditions
ol.sections {
  padding-left: 15px;
}

.section {
  padding-bottom: 30px;
}

ol.subsection li {
  margin-bottom: 10px;
}

// XS Screens
@media only screen and (max-width: 576px) {

  .carousel-caption {
    font-size: 1.6em;

    a {
      width: 100%;
    }
  }

}

// XS and SM screens
@media only screen and (max-width: 767px) {

  .subscribe-box {
    margin-top: 20px;
  }
}
