// Place all the styles related to the basic_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Index Page
#carousel-index {
  padding-top: 20px;
}

.carousel-inner{
  max-height: 500px !important;
}

.carousel-caption {
  font-size: 2.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.btn {
  background-color: var(--mint);
  color: #33483e;
}

.btn:hover {
  background-color: #99d8bc;
}

.recipe-lading-card {
  text-align: center;
  margin-top: 20px;
}

.btn-get-more-recipes {
  margin-bottom: 20px;
}

.recipe-landing-img:hover {
  opacity: 0.7;
}

// Contact Page
.address h2 {
  font-size: 20px;
}

address i {
  font-size: 20px !important;
  color: var(--mint);
  padding-right: 10px;
}

.contact-form {
  text-align: center;
  margin-top: 30px;
}

.form-group {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .logo {
    float: left;
  }

  .navigationbar-bars {
    display: inline-block;
    float: right;
  }

  .navigationbar-hr-collapse {
    display: block;
    margin: 0px -15px;
    clear:both;
  }

  .navigationbar ul {
    overflow: auto;
    clear:both;
    display: block;
    text-align: left;
  }

  .navigationbar li {
    float: none !important;
    padding: 10px 6px;
  }

  .navigationbar ul hr {
    padding: 0;
    margin: 0;
  }

  .navigationbar ul li a{
    /* display: none; */
    display: unset;
    text-align: left;
  }

}
