// Place all the styles related to the basic_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Index Page
#carousel-index {
  padding-top: 20px;
}

.carousel-inner{
  max-height: 500px !important;
}

.carousel-caption {
  font-size: 2.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.btn {
  background-color: #aaf0d1;
  color: #33483e;
}

.btn:hover {
  background-color: #99d8bc;
}

.recipe-lading-card {
  text-align: center;
  margin-top: 20px;
}

.btn-get-more-recipes {
  margin-bottom: 20px;
}

.recipe-landing-img:hover {
  opacity: 0.7;
}

// Contact Page
.address h2 {
  font-size: 20px;
}

address i {
  font-size: 20px !important;
  color: #aaf0d1;
  padding-right: 10px;
}

.contact-form {
  text-align: center;
  margin-top: 30px;
}

.form-group {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}
