.instagram-posts-index {
  .btn-new-instagram-post {
    padding-top: 20px;
  }

  h1 {
    font-size: 30px!important;
  }

  .instagram-card {
    padding-right: 10px;
    padding-left: 10px;
    
    .recipe-card {
      margin-bottom: 20px;
    }
  }
}


// XS and SM Devices
@media (max-width: 767px) {
  .instagram-posts-index {
    h1 {
      font-size: 25px!important;
    }
    .instagram-card {
      padding-right: 5px;
      padding-left: 5px;

      .recipe-card {
        margin-bottom: 10px;
      }
    }
  }
}
