// Application
body {
  margin: 0;
}

html, body {
 height: 100%; /* for the sticky footer */
 font-family: 'Raleway', 'serif';
 color: #33483e;
}

/** Define colors of the page **/
:root {
  /* --blue: #435666; */
  --mint: #aaf0d1;
  --dark-mint: #67cabc;
  --off-white: #fefefc;
  --grey: #ccc;
}

h1 {
  text-align: center;
}


/* apply text-decoration:none to all links of the app (it does not work when applied on other styles) */
a:-webkit-any-link {
  text-decoration: none;
}

/* Navigation Bar */
.navigationbar {
  text-align: center;
  border-bottom: solid;
  border-color: var(--mint);
  border-width: 0.5px;
  background-color: var(--off-white);

}

.logo {
  font-family: 'Tangerine', serif;
  font-size: 48px;
  color: var(--mint);
}

.logo:hover {
  color: var(--mint);
  text-shadow: 1px 1px 2px grey;
}

.navigationbar-hr-collapse {
  display: none;
}

.navigationbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.navigationbar li a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: var(--mint);
  font-size: 18px;
}

.navigationbar li a:hover {
  color: var(--dark-mint);
}

.navigationbar-bars {
  display: none;
  font-size: 22px;
  border-style: solid;
  border-width: 0.2px;
  padding: 10px;
  margin-top: 11px;
  margin-right: 10px;
  color: var(--mint);
}

.navigationbar-bars:hover {
  background-color: #f6fdfa;
  cursor: pointer;
}

/* Main Body */

.anchor {
   min-height: 100%; /* for the sticky footer */
   margin-bottom: -3em; /* for the sticky footer */
 }

.anchor:after {
 content: ""; /* for the sticky footer */
 display: block; /* for the sticky footer */
}


/* Footer **/

footer, .anchor:after {
 height: 3em;
}

footer {
 background-color: var(--mint);
 color: #777;
 border-top-style: solid;
 border-color: var(--grey);
 border-top-width: 1px;
 margin-top: 20px
}
