// Application
body {
  margin: 0;
}

html, body {
 height: 100%; /* for the sticky footer */
 font-family: 'Raleway', 'serif';
 color: #33483e;
}

/** Define colors of the page **/
:root {
  --mint: #aaf0d1;
  --dark-mint: #67cabc;
  --dark-grey-mint: #86cead;
  --off-white: #fefefc;
  --grey: #ccc;
}

h1 {
  text-align: center;
}

/* apply text-decoration:none to all links of the app (it does not work when applied on other styles) */
a:-webkit-any-link {
  text-decoration: none;
}

.btn {
  background-color: var(--mint);
  color: #33483e;
}

.btn:hover {
  background-color: #99d8bc;
  // background-color: var(--dark-grey-mint);
}

.btn-red {
  color: #a94442;
  background-color: #f2dede;
  // border-color: #ebccd1;
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active {
  color: #a94442 !important;
  background-color: #f8eeee !important;
}

.text-center {
  text-align: center;
}

/* Navigation Bar */
.navigation-bar {
  text-align: center;
  border-bottom: solid;
  border-color: var(--mint);
  border-width: 0.5px;
  background-color: var(--off-white);
}

.logo {
  font-family: 'Tangerine', serif;
  font-size: 48px;
  color: var(--mint);
}

.logo:hover {
  color: var(--mint);
  text-shadow: 1px 1px 2px grey;
}

.navigation-bar-hr-collapse {
  display: none;
  margin: 0px -15px;
  clear:both;
  // border-color: var(--dark-grey-mint);
}

.nav-links {
  padding: 0; //for not search-form covers links in sm to medium screen
}

.navigation-bar ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  justify-content: center;
}

.navigation-bar-main-body ul{
  display: flex;
}

.navigation-bar-main-body li a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: var(--mint);
  font-size: 18px;
}

.navigation-bar-main-body li:first-child a {
  padding-left: 0;
}

.navigation-bar-main-body li:last-child a {
  padding-right: 0;
}

.navigation-bar li a:hover {
  cursor: pointer;
}

.navigation-bar-main-body li a:hover,
.glyphicon-search:hover {
  color: var(--dark-grey-mint);
}

.navigation-bar-bars {
  display: none;
  font-size: 22px;
  border-style: solid;
  border-width: 0.2px;
  padding: 10px;
  margin-top: 11px;
  margin-right: 10px;
  color: var(--mint);
}

.navigation-bar-bars:hover {
  background-color: #f6fdfa;
  cursor: pointer;
}

.search-form {
  padding: 10px 0;
}

.search-input {
  padding-right: 0;
}

.search-form .form-group {
  margin: 0;
  width: 100%;
}

.search-input .form-control{
  border-color: var(--mint);
  // visibility: hidden;
}

.search-button {
  padding: 4px 0 0 0;
  cursor: pointer;
  font-size: 21px;
  background-color: var(--off-white);
  color: var(--mint);
  border-style: none;
}

.search-button:focus,
.search-button:active {
  outline: none !important;
}

.login {
  padding: 14px 0;
}

.login span {
  display: none;
  color: var(--mint);
  font-size: 18px;
}

.login i {
  color: var(--mint);
  font-size: 25px;
  position: absolute;
  left: 10px;
}

.login i:hover {
  cursor: pointer;
  color: var(--dark-grey-mint);
}

.login-collapsed {
  display: none;
}

.login-dropdown {
  display: none;
  margin-top: -20px;
}

.login-dropdown-box {
  background-color: var(--mint);
  padding: 15px 8px;
  margin-top: -10px;
  z-index: 1;
  width: 150px;
}

.login-dropdown-box ul {
  margin-bottom: 0;
}

.login-dropdown-box,
.login-dropdown-box a {
  color: white;
  font-size: 15px;
}

.login-dropdown-box li:not(:last-child) {
  margin-bottom: 10px;
}

.login-dropdown-box li:first-child {
  border-bottom: solid;
  border-color: white;
  border-width: 1px;
}

.login-dropdown-box p {
  margin-bottom: 5px;
}

.login-dropdown-box a:hover {
  color: #5d9079;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid var(--mint);
  margin-bottom: 10px;
  margin-left: 55%;
}

.login-collapsed p {
  color: var(--mint);
  font-size: 18px;
  text-align: left;
}

.login-collapsed p i {
  float: right;
  padding-right: 40px;
}

/* Main Body */

.alert {
  margin-top: 20px;
}

.anchor {
   min-height: 100%; /* for the sticky footer */
   margin-bottom: -3em; /* for the sticky footer */
 }

.anchor:after {
 content: ""; /* for the sticky footer */
 display: block; /* for the sticky footer */
}


/* Footer **/

footer, .anchor:after {
 height: 3em;
}

footer {
 background-color: var(--mint);
 color: #777;
 border-top-style: solid;
 border-color: var(--grey);
 border-top-width: 1px;
 margin-top: 20px
}

/* Landscape phone to portrait tablet */
@media only screen and (max-width: 991px) {
  :root {
    --mint: #86cead;
    --dark-mint: #67cabc;
    --dark-grey-mint: #6ba48a;
    --off-white: #fefefc;
    --grey: #ccc;
  }

  .logo {
    float: left;
    margin-left: 15px;
  }

  .navigation-bar-main-body {
    display: none;
  }

  .navigation-bar-bars {
    display: inline-block;
    float: right;
  }

  .navigation-bar-bars.collapsed {
    background-color: #f6fdfa;
  }

  .navigation-bar-hr-collapse.collapsed,
  .navigation-bar-main-body.collapsed {
    display: block;
  }

  .navigation-bar-main-body.collapsed .nav-links ul {
    text-align: left;
    display: block;
  }

  .navigation-bar li:first-child a {
    padding-left: 16px;
  }

  .search-input {
    padding-right: 15px;
  }

  .search-form .form-control {
    visibility: visible;
  }

  .search-button span {
    position: absolute;
    left: 0;
    padding-top: 5px;
  }

  .navigation-bar-main-body .login span  {
    display: inline-block;
  }

  .login-md {
    display: none;
  }

  .login-collapsed  {
    display: block;
  }

  .login-collapsed ul {
    display: none;
  }

  .login {
    text-align: left;
    padding-left: 16px;
    margin-top: -10px;
  }

  .login span.hover-color,
  .login i.hover-color {
    color: var(--dark-grey-mint);
  }

  .login i {
    position: relative;
  }

  .login-dropdown {
    display: none !important;
  }

  .navigation-bar-main-body.collapsed ul hr {
    padding: 0;
    margin: 0;
  }

}
