// Application
@import 'colors';
@import 'vendor_prefixes';

html {
  // scroll-behavior: smooth;
}

body {
  margin: 0;
}

html,
body {
 height: 100%; /* for the sticky footer */
 color: $darkGrey;
}


html:lang(en),
body:lang(en) {
  font-family: 'Raleway', 'serif';
}

html:lang(el),
body:lang(el) {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
}

.el-font {
  font-family: 'Alegreya Sans', sans-serif;
}

/** Define colors of the page **/
h1 {
  text-align: center;
}

/* apply text-decoration:none to all links of the app (it does not work when applied on other styles) */
a:-webkit-any-link {
  text-decoration: none;
}

.btn {
  background-color: $mint;
  color: $darkGrey;
  border: none;
}

.btn:hover {
  // background-color: #99d8bc;
  background-color: $mint;
  @include filter(drop-shadow(1px 1px 5px #646464));
}

.btn-red {
  color: #a94442;
  background-color: #f2dede;
  // border-color: #ebccd1;
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active {
  color: #a94442 !important;
  background-color: #f8eeee !important;
}

.text-center {
  text-align: center;
}

.w-85 {
  width: 85%;
}

.w-100 {
  width: 100%;
}

.w-85.btn,
.w-100.btn {
  color: black;
}


.m-auto {
  margin: auto;
}

.rounded-border {
  border-radius: 4px;
}

.d-none {
  display: none;
}

.d-lg-block {
  display: block;
}

.d-lg-none {
  display: none;
}


/* Switch Language */
.switch-language {
  // width: 50px;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 100;

  a {
    display: inline-block;

    .link-to-language {
      color: $mint;
      font-weight: 500;
      font-size: 15px;
    }

    .link-to-language.active {
      color: $darkMint;
    }

    .link-to-language:hover {
      color: $darkMint
    }
  }
}

.christmas {
  // display: none;
  height: 134px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  // z-index: -100;
  img {
    width: 18px;
    position: absolute;
    z-index: 100;
  }

  img.hidden-on-load {
    opacity: 0;
    transition: opacity 4s;
    z-index: 100;
  }

  img.hidden-on-load.appear {
    opacity: 1;
    z-index: 100;
  }

  #candy-1 {
    top: 10px;
    left: 3%;
  }

  #candy-2 {
    top: 85px;
    left: 1.5%;
  }

  #candy-3 {
    top: 55px;
    left: 6%;
  }

  #candy-4 {
    top: 10px;
    left: 21%;
  }

  #candy-5 {
    top: 85px;
    left: 19.5%;
  }

  #candy-6 {
    top: 55px;
    left: 25%;
  }

  #candy-7 {
    top: 10px;
    left: 31.5%;
  }

  #candy-8 {
    top: 85px;
    left: 30%;
  }

  #candy-9 {
    top: 55px;
    left: 34.5%;
  }

  #candy-10 {
    top: 10px;
    left: 62%;
  }

  #candy-11 {
    top: 85px;
    left: 60.5%;
  }

  #candy-12 {
    top: 55px;
    left: 65%;
  }

  #candy-13 {
    top: 10px;
    left: 72.5%;
  }

  #candy-14 {
    top: 85px;
    left: 71%;
  }

  #candy-15 {
    top: 55px;
    left: 75.5%;
  }

  #candy-16 {
    top: 10px;
    left: 83%;
  }

  #candy-17 {
    top: 85px;
    left: 81.5%;
  }

  #candy-18 {
    top: 55px;
    left: 86%;
  }
  #candy-19 {
    top: 10px;
    left: 93.5%;
  }

  #candy-20 {
    // display: none;
    top: 85px;
    left: 92%;
  }

  #candy-21 {
    top: 55px;
    left: 96.5%;
  }
}

#wrapper{
  position: relative;
  height: 134px;
}

.shake-top {
-webkit-animation: shake-top 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
      animation: shake-top 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes shake-top { //for christams
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake-top {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}



/* Navigation Bar */
.navigation-bar {
  z-index: 1;
  text-align: center;
  border-bottom: solid;
  border-color: $mint;
  border-width: 0.5px;
  background-color: $offWhite; //redo after delete christmas
  height: 134px; //for christmas-tree
  position: relative; // for-christmas
  // z-index: 100; // for christmas
  overflow-y: hidden; // for christmas

  .christmas-tree.d-md-none {
    display: none;
  }

  .christmas-tree.d-xs-none {
    display: block;
    margin-top: -50px;

    img {
      width: 110px;
    }

    .ornaments {
      margin-top: -110px;
    }
  }

  .christmas-tree.d-xs-none.hidden-on-load {
    margin-top: 60px;
    transition:  margin-top 3s linear;

    img {
      background-image: none !important;
    }

    .ornaments  {
      margin-top: -60px;
    }

  }

  .christmas-tree.d-xs-none.hidden-on-load.appear {
    margin-top: -50px;

    .ornaments {
      margin-top: -110px;
    }
  }

  .candy {
    width: 20px;
  }
}

.logo {
  font-family: 'Tangerine', serif;
  font-size: 48px;
  color: $mint;
  @include transition(text-shadow 0.7s);
}

.logo:hover {
  color: $mint;
  text-shadow: 1px 1px 2px #76a892;
  @include transition(text-shadow 0.7s);
}

.navigation-bar-hr-collapse {
  display: none;
  margin: 0px -15px;
  clear:both;
}

.nav-links {
  padding: 0; //for not search-form covers links in sm to medium screen
}

.navigation-bar ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  justify-content: center;
}

.navigation-bar-main-body ul{
  display: flex;
}

.navigation-bar-main-body li a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: $mint;
}

.navigation-bar-main-body li a:lang(en) {
  font-size: 18px;
}

.navigation-bar-main-body li a:lang(el) {
  font-size: 19px;
  font-weight: 300;
}

.navigation-bar-main-body li:first-child a {
  padding-left: 0;
}

.navigation-bar-main-body li:last-child a {
  padding-right: 0;
}

.navigation-bar li a:hover {
  cursor: pointer;
}

.navigation-bar-main-body li a:hover,
.glyphicon-search:hover {
  color: $darkGreyMint;
}

.navigation-bar-bars {
  display: none;
  font-size: 22px;
  border-style: solid;
  border-width: 0.2px;
  padding: 10px;
  padding-top: 12px;
  margin-top: 11px;
  margin-right: 10px;
  color: $mint;
  height: 50px;
  width: 50px;
}

.navigation-bar-bars:hover {
  background-color: #f6fdfa;
  cursor: pointer;
}

.search-form {
  padding: 10px 0;
}

.search-input {
  padding-right: 5px;
}

.search-form .form-group {
  margin: 0;
  width: 100%;
}

.search-input .form-control {
  border-color: $mint;
}

.search-input .form-control:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 10px rgba(170, 240, 209, 1); //mint
}

.search-input input:lang(el) {
  font-size: 15px;
}

.search-button {
  padding: 4px 0 0 0;
  cursor: pointer;
  font-size: 21px;
  background-color: $offWhite;
  color: $mint;
  border-style: none;
}

.search-button:focus,
.search-button:active {
  outline: none !important;
}

.login {
  padding: 14px 0;
}

.login span {
  display: none;
  color: $mint;
  font-size: 18px;
}

.login i {
  color: $mint;
  font-size: 25px;
  position: absolute;
  left: 10px;
}

.login i:hover {
  cursor: pointer;
  color: $darkGreyMint;
}

.login-collapsed {
  display: none;
}

.login-dropdown {
  display: none;
  margin-top: -20px;
}

.login-dropdown-box {
  background-color: $mint;
  padding: 15px 8px;
  margin-top: -10px;
  z-index: 1;
}

.login-dropdown-box ul {
  margin-bottom: 0;
}

.login-dropdown-box,
.login-dropdown-box a {
  color: white;
}

.login-dropdown-box:lang(el),
.login-dropdown-box a:lang(el) {
  color: white;
  font-size: 19px;
  font-weight: 300;
}

.login-dropdown-box li:not(:last-child) {
  margin-bottom: 20px;
  margin-top: 20px;
}

.login-dropdown-box li:first-child {
  border-bottom: solid;
  border-color: white;
  border-width: 1px;
}

.login-dropdown-box p {
  margin-bottom: 5px;
}

.login-dropdown-box a:hover {
  color: #5d9079;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid $mint;
  margin-bottom: 10px;
  margin-left: 55%;
}

.login-collapsed p {
  color: $mint;
  font-size: 18px;
  text-align: left;
}

.login-collapsed p:lang(el) {
  font-size: 19px;
  font-weight: 300;
}

.login-collapsed p i {
  float: right;
  padding-right: 40px;
  padding-top: 10px;
  width: 50px;
  height: 50px;
}

/* Main Body */

.alert {
  margin-top: 20px;
}

#notice {
  background-color: #e0f4f1;
  color: #507b67;
  border-color: $darkGreyMint;
}

.alert:lang(el),
.notice:lang(el) {
  font-size: 17px;
  font-weight: 300;
}

.anchor {
   min-height: 100%; /* for the sticky footer */
   margin-bottom: -3em; /* for the sticky footer */
 }

.anchor:after {
 content: ""; /* for the sticky footer */
 display: block; /* for the sticky footer */
}


/* Footer **/

footer, .anchor:after {
 height: 3em;
}

footer {
  background-color: $mint;
  color: #777;
  border-top-style: solid;
  border-color: $grey;
  border-top-width: 1px;
  margin-top: 20px;
  padding-top: 10px;
  height: 94px;

  p {
    margin-bottom: 0;
  }

  .copyright {
    padding-top: 44px;
  }

  .unsplash {
    padding-bottom: 12px;
    padding-top: 12px;
  }

}

footer:lang(el) {
  height: 90px;
  font-weight: 300;
  font-size: 15px;

  .copyright {
    padding-top: 41px;
  }

  .unsplash {
    padding-bottom: 10px;
    padding-top: 10px;
  }

}

// XS and SM
@media (max-width: 767px) {
}

/* XS, SM and MD */
@media only screen and (max-width: 991px) {
  .d-lg-block {
    display: none;
  }

  .d-lg-none {
    display: block;
  }
  .christmas,
  .navigation-bar,
  #wrapper {
    height: auto;
  }

  .for-christmas {
    height: 68px;
    overflow-y: hidden;
  }

  .christmas {
    // display: none;
    img {
      display: none!important;
    }
  }

  .switch-language {
    position: static;
    text-align: right;
    padding-right: 20px;
    padding-top: 14px;

    a .link-to-language {
      font-size: 17px;
    }
  }

  .navigation-bar {
    .christmas-tree.d-xs-none {
      display: none;
    }

    .christmas-tree.d-md-none {
      display: inline-block;
      float: left;
      margin-left : 20px;
      margin-top: 10px;

      img {
        width: 60px;
      }

      .ornaments  {
        margin-top: -60px;
      }
    }

    .christmas-tree.d-md-none.hidden-on-load {
      margin-top: 65px;
      transition:  margin-top 3s linear;
    }

    .christmas-tree.d-md-none.hidden-on-load.appear {
      margin-top: 10px;
    }
  }

  .logo {
    float: left;
    margin-left: 15px;
  }

  .navigation-bar-main-body {
    display: none;
  }

  .navigation-bar-bars {
    display: inline-block;
    float: right;
  }

  .navigation-bar-bars.collapsed {
    background-color: #f6fdfa;
  }

  .navigation-bar-hr-collapse.collapsed,
  .navigation-bar-main-body.collapsed {
    display: block;
  }

  .navigation-bar-main-body.collapsed .nav-links ul {
    text-align: left;
    display: block;
  }

  .navigation-bar li:first-child a {
    padding-left: 16px;
  }

  .navigation-bar li a {
    width: 100%;
    text-align: left;
  }

  .search-input {
    padding-right: 15px;
  }

  .search-button {
    width: 50px;
    height: 50px;
  }

  .search-form .form-control {
    visibility: visible;
  }

  .search-button span {
    position: absolute;
    left: 0;
    padding-top: 5px;
  }

  .navigation-bar-main-body .login span  {
    display: inline-block;
  }

  .login-md {
    display: none;
  }

  .login-collapsed  {
    display: block;

    a {
      display: block;
      height: 55px;
    }
  }

  .login-collapsed ul {
    display: none;
  }

  .login {
    text-align: left;
    padding-left: 16px;
    margin-top: -10px;
  }

  .login span.hover-color,
  .login i.hover-color {
    color: $darkGreyMint;
  }

  .login i {
    position: relative;
  }

  .login-dropdown {
    display: none !important;
  }

  .navigation-bar-main-body.collapsed ul hr {
    padding: 0;
    margin: 0;
  }

  footer,
  footer:lang(el) {
    height: 150px;
    padding-bottom: 20px;
    padding-top: 15px;

    .unsplash,
    .designed_and_developed,
    .copyright {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

}

// Touch screens
@media (hover: none) and (pointer: coarse) {
  .btn,
  .login-dropdown-box,
  footer {
    background-color: $mintTouchScreens;
  }

  .navigation-bar,
  .search-input .form-control {
    border-color: $mintTouchScreens;
  }

  .logo,
  .logo:hover,
  .navigation-bar-main-body li a,
  .navigation-bar-bars,
  .search-button,
  .login span,
  .login i,
  .login-collapsed p {
    color: $mintTouchScreens;
  }

  .navigation-bar-main-body li a:hover,
  .glyphicon-search:hover,
  .login i:hover,
  .login span.hover-color,
  .login i.hover-color {
    color: $darkGreyMintTouchScreens;
  }

  .arrow-up {
    border-bottom: 15px solid $mintTouchScreens;
  }
}

.cookies-acceptance {
  display: none;
  background-color: $offWhite;
  border: 1px solid $mint;
  padding: 20px 50px;
  z-index: 100;
  position: fixed;
  bottom: 0;

  .btn {
    padding: 12px;
    padding-right: 18px;
    position: relative;
    outline: none;

    i {
      color: #D5A150;
      background: brown;
      border-radius: 50%;
    }

    .fa-cookie-bite {
      position: absolute;
      margin-left: -7px;
      top: 14px;
    }
  }
}

.slide-in-bottom {
  display: block;
	-webkit-animation: slide-in-bottom 2s ease-out both;
	        animation: slide-in-bottom 2s ease-out both;
}

.slide-out-bottom {
	-webkit-animation: slide-out-bottom 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-bottom 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-12-7 9:28:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
}
