@import 'colors';

// Form
hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border-color: $grey;
}

.btn-nested-fields {
  background: $orange;
}

.btn-nested-fields:hover {
  background: $orangeHover;
}

.nested-fields {
  a {
    color: $red;
  }

  a:hover {
    color: $redHover;
  }
}
