@import 'colors';

// Form
hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border-color: $grey;
}

.btn-nested-fields {
  background: $orange;
}

.btn-nested-fields:hover {
  background: $orangeHover;
}

.nested-fields {
  .remove-btn {
    color: $red;
  }

  .remove-btn:hover {
    color: $redHover;
  }
}

.ingredients-fields {
  margin-bottom: 40px;

  .nested-fields {
    margin-bottom: 10px;
  }

  .create_new_ingredient {
    margin-bottom: 20px;
  }
}
