// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colors';
@import 'vendor_prefixes';

h2,
h6 {
  text-align: center;
}

h2,
h3 {
  font-weight: 400;
}

.btn-new-recipe {
  margin: 0px 20px 20px 20px;
}

.search-results {
  margin-bottom: 20px;
}

.search-results p {
  color: $mint;
  font-size: 20px;
}

.recipe-card {
  text-align: center;
  margin-bottom: 20px;
  background-color: $mint;
  overflow: hidden;
}

.recipe-card:hover img {
  @include transform(scale(1.2));
}

.recipe-img {
  overflow: hidden;
}

.recipe-card img {
  @include transition(all 0.3s);
}

.recipe-card p {
  margin-top: 10px;
  font-size: 20px;
  color: #32251d;
}

.recipe-links-index {
  float: right;
}

.recipe-links-index i {
  font-size: 18px;
  color: #32251d;
  padding: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.pagination {
  width: 100%;
  text-align: center;
  font-family: "Source Serif Pro", serif;
}

.pagination .previous_page,
.pagination .next_page {
  display: none;
}

.pagination .gap {
  visibility: hidden;
}

.pagination .gap:after {
  content: "\00b7 \00b7 \00b7";
  visibility: visible;
  color: $mint;
  padding-right: 3px;
  margin-left: -3px;
}

.pagination a,
.pagination em {
  display: inline-block;
  width: 1.8em;
  height: 1.8em;
  border-radius: 50%;
  border: solid;
  border-width: 1px;
  border-color: $mint;
  text-decoration: none;
  font-size: 15px;
  padding-top: 2px;
  margin: 5px 2px;
}

.pagination a {
  color: $mint;
  background-color: $offWhite;
}

.pagination a:hover {
  background-color: $lightMint;
}

.pagination em {
  color: $offWhite;
  background-color: $mint;
  font-style: normal;
}

// Show
.recipe-show {
  margin-top: 10px;

  p,
  li {
    font-size: 18px;
  }

  h6 {
    color: $mint;
    font-size: 16px;
  }

  h6,
  .borrowed-recipe,
  .notes-show li {
    font-style: italic;
  }

  .borrowed-recipe {
    font-size: 16px;

    a {
      color: $mint;
    }

    a:hover {
      color: $darkGreyMint;
    }
  }

  .social-share {
    margin-top: 10px;
    border-style: solid;
    border-color: $mint;
    border-width: 1px;
    margin-bottom: 30px;
    width: 90%;
  }

  .social-share-button {
    background-color: #fefefc;
    text-align: center;
    margin-bottom: 10px;
  }

  .social-share-button .ssb-pinterest,
  .social-share-button .ssb-facebook,
  .social-share-button .ssb-email {
    background-image: none !important;
    color: $mint;
    width: 47px;
    height: 47px;
    margin: 0 5px;
  }

  .social-share-button .ssb-pinterest:hover,
  .social-share-button .ssb-facebook:hover,
  .social-share-button .ssb-email:hover{
    color: $darkMint;
  }

  .social-share-button .ssb-pinterest:before,
  .social-share-button .ssb-facebook:before,
  .social-share-button .ssb-email:before {
    background-image: none;
    font-family: 'FontAwesome';
    font-size: 45px;
  }

  .social-share-button .ssb-pinterest:before {
     content: "\f231";
     content: "\f0d3";
     padding-bottom: -10px;
     // content: "\f0d2";
  }

  .social-share-button .ssb-facebook:before {
     content: "\f082";
  }

  .social-share-button .ssb-email:before {
     content: "\f0e0";
     content: "\f199";
  }

  .jump-to-recipe {
    margin-bottom: 30px;

    a {
      padding-top: 12px;
      height: 47px;
    }
  }

  .descriptions-show {
    img {
      margin: 20px auto;
      width: 50%;
    }
  }

  .ingredients-instructions-notes {
    padding-top: 20px;
    margin: 30px 0;
    border: solid thin $mint;

    img {
      width: 30%;
      max-width: 550px;
      margin: auto;
    }

    h2,
    h3,
    i {
      color: $darkGreyMint
    }

    h2 {
      font-size: 25px;
    }

    h3 {
      font-size: 23px;
      margin-top: 40px;
    }

    .rating {
      margin-bottom: 25px;

      i:hover {
        color: $mint;
      }

      .rating-count {
        color: $grey;
        font-weight: 200;
      }
    }

    .recipe-information {
      margin: 0;
      padding-top: 20px;
      background: $lightMint;

      .information-group {
        i {
          font-size: 30px;
          height: 30px;
        }

        .information-input {
          font-size: 20px;
          margin-top: 10px;
          margin-bottom: 5px;
        }

        .information-description {
          font-size: 15px;
          color: $grey;
          font-weight: 200;
        }
      }
    }

    ul {
      color: $mint;

      p {
        color: $darkGrey;
      }
    }

    .ingredients-instructions {
      padding: 0px 40px;

      h3 {
        margin-bottom: 10px;
      }

      h4 {
        margin: 20px 0 15px 0;
      }

      .ingredients {
        span {
          color: $grey;
        }
      }

      li {
        padding-bottom: 10px;
      }

    }

    .notes-show {
      li {
        margin-bottom: 10px;
      }
    }
  }
}

.comment-title {
  border-bottom: solid;
  border-color: $grey;
  border-width: 1px;
  margin-bottom: 20px;

  #create-new-comment {
    height: 47px;
    margin-bottom: 20px;
  }
}

.new-comment {
  display: none;

  .btn {
    height: 47px;
    width: 100px;
  }
}

.new-comment h4,
.commentator {
  margin-bottom: 0;
}

.commentator .form-control {
  width: 40%;
}

.count-not-approved-comments {
  color: grey;
}

.comments-index a {
  margin-left: 20px;
}

.comments p {
  text-align: left;
}

.recipe-links-show {
  clear: both;
}

//New - Update
.recipe-form {
  margin-bottom: 10px;

}

.cancel-editing .btn {
  background-color: #ff9999;
}

.cancel-editing .btn:hover {
  background-color: #ff6666;
}

/* Landscape phone to portrait tablet */
@media only screen and (max-width: 767px) {

  .btn-goback-edit {
    margin-bottom: 10px;
  }
}

// XS
// @media (max-width: 576px) {...}
// XS and SM Devices
@media (max-width: 767px) {
  .recipe-show {
    .ingredients-instructions-notes {

      .recipe-information {
        .information-group {
          margin-bottom: 30px;

          .information-input {
            margin-top: 0;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
