<p><%= t('devise.mailers.hello') +  @resource.email %>!</p>

<p><%= t('devise.mailers.password_change.your_password_was_changed') %></p>

<p><%= t('devise.mailers.cheers') %></p>
<p><%= t('devise.mailers.elina_from_bake_is_yum') %></p>
